apps/users/pycache/views.cpython-312.pyc
apps/users/pycache/init.cpython-312.pyc
apps/users/pycache/admin.cpython-312.pyc
apps/users/pycache/apps.cpython-312.pyc
apps/users/pycache/forms.cpython-312.pyc
apps/users/pycache/models.cpython-312.pyc
apps/users/pycache/urls.cpython-312.pyc
apps/users/migrations/
deploy/pycache/wsgi.cpython-312.pyc
settings/pycache/init.cpython-312.pyc
settings/pycache/base.cpython-312.pyc
settings/pycache/conf.cpython-312.pyc
settings/pycache/urls.cpython-312.pyc
db.sqlite3
.env
/resource/
