{% extends 'index.html' %}

{% load static %}

{% block title %}Description{% endblock %}

{% block content %}


   <main class="main">

      <section class="descr">
        <div class="container">
          <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
              <a href="{% url 'home' %}" class="breadcrumbs__to-home">
                <img src="{% static '/img/icons/home.svg' %}" alt="home icon" />
              </a>
            </li>
            <li class="breadcrumbs__item">
              <a href="{% url 'view_cart' %}" class="breadcrumbs__link">Корзина</a>
            </li>

          </ul>

          <div class="descr-item">
        <p class="descr-item__code">Код товара: <span>{{ product.id }}</span></p>
        <h1 class="descr-item__title">{{ product.name }}</h1>
        <div class="descr-item__head">
          <div class="descr-item__img-slider">
            {% if product.image %}
                <img
                  class="descr-item__img"
                  src="{{ product.image.url }}"
                  alt="product"
                />
            {% endif %}
            <div class="descr-item__img-switcher">
              <button
                id="descr-img-switcher-1"
                class="descr-item__img-btn descr-item__img-btn--active"
              >
                {% if product.image %}
                    <img
                      class="descr-item__img"
                      src="{{ product.image.url }}"
                      alt="product"
                    />
                {% endif %}
              </button>
              <button id="descr-img-switcher-2" class="descr-item__img-btn">
                {% if product.image %}
                    <img
                      class="descr-item__img"
                      src="{{ product.image.url }}"
                      alt="product"
                    />
                {% endif %}
              </button>
            </div>
          </div>
          <div class="descr-item__main-box">
            <div class="descr-item__main-props">
              <p class="descr-item__status">В наличии</p>
              <h3 class="mini-subtitle">Основные характеристики</h3>

              <ul class="descr-item__props-list">
                <li class="descr-item__props-item">
                  <span class="descr-item__props-key">Бренд</span
                  ><span class="descr-item__props-value">{{ product.brand }}</span>
                </li>
                <li class="descr-item__props-item">
                  <span class="descr-item__props-key">Описание</span
                  ><span style="margin-left: 40px;" class="descr-item__props-value">{{ product.description }}</span>
                </li>

              </ul>

              <div class="descr-item__delivery">
                <img
                  src="{% static '/img/icons/mini-track.svg' %}"
                  alt="truck icon"
                  class="descr-item__delivery-img"
                />
                <div class="descr-item__delivery-box">
                  <p class="descr-item__delivery-text">
                    <span>Бесплатная доставка</span> в Караганде. В Алмате от 2000 тг
                    (в черте города)
                  </p>
                </div>
              </div>
            </div>

            <div class="descr-item__actions">
              <h3 class="mini-subtitle">Стоимость</h3>

              <div class="descr-item__calc">
                <div class="descr-item__price">
                  <p class="descr-item__price-text">{{ product.price }} шт</p>
                </div>
                <div class="descr-item__quantity">
                  <button class="descr-item__minus">
                  </button>
                  <div class="descr-item__prod-quant">1</div>
                  <button class="descr-item__plus">
                  </button>
                </div>
              </div>

              <div class="descr-item__actions-bottom">
                <div class="descr-item__total">
                  <span class="descr-item__total-text">Итого:</span>
                  <p class="descr-item__total-price">
                    <span id="descr-total-price">{{ product.price }}</span>
                    <span> тг.</span>
                  </p>
                </div>
                <button class="main-btn add_to_cart_btn" data-product-id="{{ product.id }}">В корзину</button>
              </div>
            </div>
          </div>
        </div>

        <div class="descr-item__subhead">
          <div class="descr-item__services">
            <h3 class="mini-subtitle">Наши услуги</h3>
            <div class="descr-item__services-box">
              <div class="descr-item__services-item">
                <img
                  class="descr-item__services-img"
                  src="{% static '/img/icons/descr-truck.svg' %}"
                  alt="truck icon"
                />
                <p class="descr-item__services-text">Доставка</p>
              </div>
              <div class="descr-item__services-item">
                <img
                  class="descr-item__services-img"
                  src="{% static '/img/icons/descr-repair.svg' %}"
                  alt="repair icon"
                />
                <p class="descr-item__services-text">
                  Ремонт <br />
                  оборудования
                </p>
              </div>
            </div>
          </div>
          <div class="descr-item__stocks">
            <h3 class="mini-subtitle">Наличие на складах</h3>
            <p class="descr-item__stocks-text">ул. Васильченко, дом 1, здание 153Б</p>
          </div>
        </div>

        <div class="descr-info">
        <div class="descr-info__switcher">
          <p class="descr-info__switcher-text">Описание и характеристики</p>
          <button class="descr-info__switcher-btn">
            <img src="{% static '/img/icons/burger-menu.svg' %}" alt="burger menu" />
          </button>
        </div>

        <div class="descr-tabs">
          <button class="descr-tabs__btn descr-tabs__btn--active">
            Описание и характеристики</button>
        </div>

        <div class="descr-info__inner">
          <ul class="descr-info__list">
            <li class="descr-info__item">
              <h4 class="descr-info__key">Бренд</h4>
              <span class="descr-info__value">{{ product.brand }}</span>
            </li>
            <li class="descr-info__item">
              <h4 class="descr-info__key">Описание</h4>
              <span style="margin-left: 60px;" class="descr-info__value">{{ product.description }}</span>
            </li>
          </ul>

          <div class="descr-info__text">
            <p>
              <strong>Проволока сварочная ОК ПРО 51С Esab</strong> применяется для
              сварки низкоуглеродистых и низколегированных сталей с пределом текучести
              свыше 420 МПа в углекислом газе и газовой смеси (CO2, Ar/C02).
              Высококачественное омеднение, рядная намотка на катушки, стабильный
              диаметр по всей длине обеспечивают стабильное горение проволоки с
              минимальным разбрызгиванием и высокое качество наплавленного металла.
              Проволока европейского качества, производимая в России. Широкий спектр
              применения. Отличные механические свойства наплавленного металла.
            </p>
            <p>
              <strong>Механические свойства металла шва:</strong>
            </p>
            <p class="descr-info__text--3">
              <span>Предел прочности при растяжении: 560 МПа </span>
              <span>Предел текучести: 450 МПа</span>
              <span>Удлинение: 30 %</span>
              <span
                ><strong
                  >Химический состав наплавленного металла шва, % :</strong
                ></span
              >
            </p>
            <p>C - 0,078 / Mn - 1,46 / Si - 0,85</p>
          </div>

          <p class="descr-info__disclaimer">
            *Производитель оставляет за собой право без уведомления дилера менять
            характеристики, внешний вид, комплектацию товара и место его производства.
            Указанная информация не является публичной офертой
          </p>
        </div>
      </div>

      </div>

        </div>

            <div class="descr__swiper-box">
              <div class="outer-box">
                <div class="container">
                    <h2 class="subtitle">Смотрите также <span></span></h2>
                    <div class="descr__swiper swiper">
                        <div class="swiper-wrapper">
                            {% for product in products %}
                            <div class="swiper-slide">
                                <div id="product-{{ product.id }}" class="product-card">
                                    <div class="product-card__top">
                                        <p class="product-card__code">Код: <span>{{ product.id }}</span></p>
                                        {% if product.image %}
                                          <img style="height: 100px" src="{{ product.image.url }}" alt="product" class="product-card__img open_modal" data-modal-target="#modal-product-{{ product.id }}">
                                        {% endif %}
                                        <a href="{% url 'view_descr' product_id=product.id %}"  class="product-card__title">{{ product.name }}</a>
                                    </div>
                                    <div class="product-card__bottom">
                                        <div class="product-card__descr">
                                            {{ product.description }}
                                        </div>
                                        <div class="product-card__status">В наличии</div>
                                        <div class="product-card__buy">
                                            <span class="product-card__current-price">{{ product.price }}</span>
                                            <button class="product-card__cart-btn add_to_cart_btn" data-product-id="{{ product.id }}">
                                                <img src="{% static 'img/icons/add-to-cart.svg' %}" alt="cart button" />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="descr__pagination swiper-pagination"></div>
                    </div>
                </div>
                <button class="swiper-prev-btn descr__swiper-prev-btn">
                    <img src="{% static 'img/icons/arrow-left.svg' %}" alt="arrow left" />
                </button>
                <button class="swiper-next-btn descr__swiper-next-btn">
                    <img src="{% static 'img/icons/arrow-right.svg' %}" alt="arrow right" />
                </button>
            </div>
        </div>

          {% for product in products %}
            <div id="modal-product-{{ product.id }}" class="modal-card">
              <div class="modal-card__inner">
                <button class="modal-card__close-btn">
                  <img src="{% static '/img/icons/close.svg' %}" alt="close icon" />
                </button>
                <p class="modal-card__code">Код товара: <span>{{ product.id }}</span></p>
                <h3 class="modal-card__title">{{ product.name }}</h3>

                <div class="modal-card__resources">
                  <div class="modal-card__img-slider">
                    <img
                      class="modal-card__img"
                      src="{{ product.image.url }}"
                      alt="product image"
                    />
                  </div>
                  <iframe
                    class="modal-card__iframe"
                    width="456"
                    height="342"
                    src="{{ product.video_url }}"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen
                  ></iframe>
                </div>

                <div class="modal-card__descr">
                  <h3 class="modal-card__descr-title">Описание и характеристики</h3>
                  <ul class="modal-card__property-list">
                    <li class="modal-card__property-item">
                      <span class="modal-card__property-title">Бренд</span>
                      <span class="modal-card__property-text">{{ product.brand }}</span>
                    </li>
                    <li class="modal-card__property-item">
                      <span class="modal-card__property-title">Количество</span>
                      <span class="modal-card__property-text">{{ product.quantity }}</span>
                    </li>
                  </ul>

                    <p class="modal-card__text">
                        {{ product.description }}
                    </p>
                  <a href="{% url 'view_descr' product_id=product.id %}" class="modal-card__link">Подробнее</a>
                </div>
              </div>
            </div>
          {% endfor %}


      </section>

      <script>
          document.addEventListener('DOMContentLoaded', function () {
              const descrSwiper = new Swiper('.descr__swiper', {
                  slidesPerView: 1,
                  spaceBetween: 10,
                  loop: true,
                  pagination: {
                      el: '.descr__pagination',
                      clickable: true,
                  },
                  navigation: {
                      nextEl: '.descr__swiper-next-btn',
                      prevEl: '.descr__swiper-prev-btn',
                  },
                  breakpoints: {
                      640: {
                          slidesPerView: 2,
                          spaceBetween: 20,
                      },
                      768: {
                          slidesPerView: 3,
                          spaceBetween: 30,
                      },
                      1024: {
                          slidesPerView: 4,
                          spaceBetween: 40,
                      },
                  },
              });
          });

    </script>

     <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Открытие модального окна
            document.querySelectorAll('.open_modal').forEach(function(img) {
                img.addEventListener('click', function() {
                    const modalId = this.getAttribute('data-modal-target');
                    const modal = document.querySelector(modalId);
                    if (modal) {
                        modal.classList.add('modal-card--active');
                    }
                });
            });

            // Закрытие модального окна
            document.querySelectorAll('.modal-card__close-btn').forEach(function(btn) {
                btn.addEventListener('click', function() {
                    const modal = this.closest('.modal-card');
                    if (modal) {
                        modal.classList.remove('modal-card--active');
                    }
                });
            });

            // Закрытие модального окна при клике вне его
            document.querySelectorAll('.modal-card').forEach(function(modal) {
                modal.addEventListener('click', function(e) {
                    if (e.target === modal) {
                        modal.classList.remove('modal-card--active');
                    }
                });
            });
        });
    </script>
   </main>

{% endblock %}

