{% extends 'index.html' %}

{% load static %}

{% block title %}Filter{% endblock %}

{% block content %}

<main class="main">

    <section class="filter">
        <div class="container">
          <div class="filter__inner">

            <form class="filter__form" method="get">
              <div class="filter__form-price">
                <h2 class="mini-subtitle">Цена, тг.</h2>
                  <div class="filter__range-box">
                  <div class="filter__double-range">
                    <div class="filter__slider-track"></div>
                    <input
                      type="range"
                      name="price_from"
                      min="2100"
                      max="50000"
                      value="{{ price_from|default:2100 }}"
                      class="filter__range-input"
                      id="price-slider-1"
                      oninput="document.getElementById('price-value-from').innerText = this.value"
                    />
                    <input
                      type="range"
                      name="price_to"
                      min="2100"
                      max="50000"
                      value="{{ price_to|default:50000 }}"
                      class="filter__range-input"
                      id="price-slider-2"
                      oninput="document.getElementById('price-value-to').innerText = this.value"
                    />
                  </div>

                  <div class="filter__range-values">
                    <div class="filter__range-value">
                      <span>от</span>
                      <span class="filter__range-number" id="price-value-from">{{ price_from|default:2100 }}</span>
                    </div>
                    <div class="filter__range-value">
                      <span>до</span>
                      <span class="filter__range-number" id="price-value-to">{{ price_to|default:50000 }}</span>
                    </div>
                  </div>
                </div>
              </div>


              <div class="filter__form-brand">
                <h2 class="mini-subtitle">Бренд</h2>
                <ul class="filter__form-list">
                  {% for product in products %}
                  <li class="filter__form-item">
                    <input
                      id="svarok"
                      type="checkbox"
                      class="filter-checkbox"
                    /><label for="svarok" class="filter-label">{{ product.brand }}</label>
                  </li>
                  {% endfor %}
                </ul>
              </div>

              <div class="filter__form-use">
                <h2 class="mini-subtitle">Область применения</h2>
                <ul class="filter__form-list">
                  <li class="filter__form-item">
                    <input
                      id="semiprofessional"
                      type="checkbox"
                      class="filter-checkbox"
                    /><label for="semiprofessional" class="filter-label"
                      >Полупрофессиональный</label
                    >
                  </li>
                  <li class="filter__form-item">
                    <input
                      id="semiprofessional"
                      type="checkbox"
                      class="filter-checkbox"
                    /><label for="semiprofessional" class="filter-label"
                      >Профессиональный</label
                    >
                  </li>
                </ul>
              </div>


              <div class="filter__form-btns">
                <button type="submit" class="main-btn filter__show-btn">Показать</button>
                <button type="reset" class="main-btn filter__reset-btn" onclick="window.location.href='{{ request.path }}'">
                  Сбросить
                </button>
              </div>
            </form>


            <div class="filter__result-box">
              <div class="cart__inner">
                  <ul class="breadcrumbs">
                    <li class="breadcrumbs__item">
                      <a href="{% url 'home' %}" class="breadcrumbs__to-home">
                        <img src="{% static '/img/icons/home.svg' %}" alt="home icon" />
                      </a>
                    </li>
                    <li class="breadcrumbs__item">
                      <a href="{% url 'view_cart' %}" class="breadcrumbs__link">Корзина</a>
                    </li>
                  </ul>
              </div>


              <div class="filter__result-render">
              {% for product in products %}
                <div id="product-1" class="product-card">
                  <div class="product-card__top">
                    <p class="product-card__code">Код: <span>{{ product.id }}</span></p>
                    {% if product.image %}
                      <img style="max-width: 80%; height: 160px" src="{{ product.image.url }}" alt="{{ product.name }}" class="product__image">
                    {% endif %}
                    <a href="{% url 'view_descr' product_id=product.id %}" class="product-card__title">{{ product.name }}</a>
                  </div>
                  <div class="product-card__bottom">
                    <div class="product-card__descr">
                      {{ product.description }}
                    </div>
                    <div class="product-card__status">В наличии</div>
                    <div class="product-card__buy">
                      <span class="product-card__current-price">{{ product.price }} тг.</span>
                      <button class="product-card__cart-btn add_to_cart_btn" data-product-id="{{ product.id }}">
                        <img src="{% static '/img/icons/add-to-cart.svg' %}" alt="cart button" />
                      </button>
                    </div>
                  </div>
                </div>
              {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </section>

      <script>
          document.addEventListener("DOMContentLoaded", function() {
            var slider1 = document.getElementById("price-slider-1");
            var slider2 = document.getElementById("price-slider-2");
            var valueFrom = document.getElementById("price-value-from");
            var valueTo = document.getElementById("price-value-to");

            slider1.oninput = function() {
              valueFrom.innerText = this.value;
            }
            slider2.oninput = function() {
              valueTo.innerText = this.value;
            }
          });
      </script>


</main>

{% endblock %}
