{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Main Page{% endblock %}</title>  <link
    rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

</head>

  <body>
    <header class="header">
      <div class="header__top">
        <div class="container-big">
          <div class="header__nav">

              <a href="{% url 'home' %}" class="mini-logo">
                <img src="{% static '/img/icons/mini-logo.svg' %}" alt="mini-logo" />
              </a>

          <div class="select-city">
            <button class="select-city__search-btn">
              <img src="{% static '/img/icons/search-city.svg' %}" alt="search icon" />
            </button>


</div>

        <select id="select-city-menu">
          {% for city in cities %}
              <option value="{{ city.name }}">{{ city.name }}</option>
          {% endfor %}
        </select>

        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="{% url 'about_us' %}" class="nav__link">О компании</a>
            </li>
            <li class="nav__item">
              <a href="{% url 'view_cart' %}" class="nav__link">Корзина</a>
            </li>
          </ul>
        </nav>

      {% if user.is_authenticated %}
         <p>Email: {{ user.email }}</p>
        <a href="{% url 'logout' %}">выйти</a>
        {% else %}
        <a href="{% url 'login' %}"><button class="login-btn">Вход</button></a>
        {% endif %}

      </div>
    </div>
  </div>

  <div class="container">
    <div class="header__main">
      <img class="header__logo" src="{% static '/img/icons/logo.svg' %}" alt="logo" />
      <search class="header__search"
        ><input
          class="header__search-input"
          type="search"
          placeholder="Поиск по каталогу"
        />
        <button class="header__search-btn" type="submit">
          <img src="{% static '/img/icons/search-product.svg' %}" alt="search product" />
        </button>
      </search>
    </div>

    <div class="header__catalog">
      <div class="dropdown-menu">
      <button class="dropdown-menu__btn">
        Каталог товаров
        <span></span>
      </button>

      <ul class="dropdown-menu__list">
        {% for category in categories %}
            <li class="dropdown-menu__item">
              <a class="dropdown-menu__link" href="{% url 'category_view' category.slug %}">{{ category.name }}</a>
            </li>
        {% endfor %}
      </ul>
      </div>
    </div>

  </div>
</header>

    {% block content %}Main Page{% endblock %}


    <section class="descr none">
    <div class="container">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item">
          <a href="#!" class="breadcrumbs__to-home">
            <img src="{% static '/img/icons/home.svg' %}" alt="home icon" />
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a href="#!" class="breadcrumbs__link">Категории</a>
        </li>
        <li class="breadcrumbs__item">
          <a href="#!" class="breadcrumbs__link">Сварочные материалы</a>
        </li>
        <li class="breadcrumbs__item">
          <a href="#!" class="breadcrumbs__link">Проволока сварочная</a>
        </li>
      </ul>

    <div class="descr-item">
      <p class="descr-item__code">Код товара: <span>0022167</span></p>
      <h1 class="descr-item__title">Электрический монтажный пистолет</h1>
      <div class="descr-item__head">
        <div class="descr-item__img-slider">
          <img
            class="descr-item__img"
            src="{% static '/img/descr-products/descr-product-1.jpg' %}"
            alt="product"
          />
          <div class="descr-item__img-switcher">
            <button
              id="descr-img-switcher-1"
              class="descr-item__img-btn descr-item__img-btn--active"
            >
              <img
                src="{% static '/img/descr-products/descr-product-1.jpg' %}"
                alt="image switcher"
              />
            </button>
            <button id="descr-img-switcher-2" class="descr-item__img-btn">
              <img
                src="{% static '/img/descr-products/descr-product-1.jpg' %}"
                alt="image switcher"
              />
            </button>
          </div>
        </div>
    <div class="descr-item__main-box">
      <div class="descr-item__main-props">
        <p class="descr-item__status">В наличии</p>
        <h3 class="mini-subtitle">Основные характеристики</h3>

        <ul class="descr-item__props-list">
          <li class="descr-item__props-item">
            <span class="descr-item__props-key">Бренд</span
            ><span class="descr-item__props-value">ЭСАБ (ESAB)</span>
          </li>
          <li class="descr-item__props-item">
            <span class="descr-item__props-key">Вид проволоки</span
            ><span class="descr-item__props-value">омедненная</span>
          </li>
          <li class="descr-item__props-item">
            <span class="descr-item__props-key">Диаметр, мм</span
            ><span class="descr-item__props-value">1.2</span>
          </li>
          <li class="descr-item__props-item">
            <span class="descr-item__props-key">Маркировка</span
            ><span class="descr-item__props-value">ОК ПРО 51С</span>
          </li>
          <li class="descr-item__props-item">
            <span class="descr-item__props-key">Тип сварки</span
            ><span class="descr-item__props-value">MIG-MAG</span>
          </li>
          <li class="descr-item__props-item">
            <span class="descr-item__props-key">Вес, кг</span
            ><span class="descr-item__props-value">18</span>
          </li>
        </ul>

        <a href="#!" class="main-link">Все характеристики</a>
        <div class="descr-item__delivery">
          <img
            src="{% static '/img/icons/mini-track.svg' %}"
            alt="truck icon"
            class="descr-item__delivery-img"
          />
          <div class="descr-item__delivery-box">
            <p class="descr-item__delivery-text">
              <span>Бесплатная доставка</span> в Караганде. В Алмате от 2000 руб
              (в черте города)
            </p>
            <a href="#!" class="main-link">Подробнее</a>
          </div>
        </div>
      </div>

      <div class="descr-item__actions">
        <h3 class="mini-subtitle">Стоимость</h3>

        <div class="descr-item__calc">
          <div class="descr-item__price">
            <p class="descr-item__price-text">31190 тг<span>/ шт</span></p>
          </div>
          <div class="descr-item__quantity">
            <button class="descr-item__minus disabled-btn">
              <img src="{% static '/img/icons/minus.svg' %}" alt="minus" />
            </button>
            <div class="descr-item__prod-quant">1</div>
            <button class="descr-item__plus">
              <img src="{% static '/img/icons/plus.svg' %}" alt="plus" />
            </button>
          </div>
        </div>

        <div class="descr-item__actions-bottom">
          <div class="descr-item__total">
            <span class="descr-item__total-text">Итого:</span>
            <p class="descr-item__total-price">
              <span id="descr-total-price">31 190</span>
              <span> тг.</span>
            </p>
          </div>
          <button class="main-btn descr-item__to-cart">В корзину</button>
          <button class="main-btn descr-item__order">Заказать в 1 клик</button>
        </div>
      </div>
    </div>
  </div>

          <div class="descr-item__subhead">
            <div class="descr-item__services">
              <h3 class="mini-subtitle">Наши услуги</h3>
              <div class="descr-item__services-box">
                <div class="descr-item__services-item">
                  <img
                    class="descr-item__services-img"
                    src="{% static '/img/icons/descr-truck.svg' %}"
                    alt="truck icon"
                  />
                  <p class="descr-item__services-text">Доставка</p>
                </div>
                <div class="descr-item__services-item">
                  <img
                    class="descr-item__services-img"
                    src="{% static '/img/icons/descr-repair.svg' %}"
                    alt="repair icon"
                  />
                  <p class="descr-item__services-text">
                    Ремонт <br />
                    оборудования
                  </p>
                </div>
              </div>
            </div>
            <div class="descr-item__stocks">
              <h3 class="mini-subtitle">Наличие на складах</h3>
              <p class="descr-item__stocks-text">ул. Васильченко, дом 1, здание 153Б</p>
            </div>
          </div>

          <div class="descr-info">
          <div class="descr-info__switcher">
            <p class="descr-info__switcher-text">Описание и характеристики</p>
            <button class="descr-info__switcher-btn">
              <img src="{% static '/img/icons/burger-menu.svg' %}" alt="burger menu" />
            </button>
          </div>

          <div class="descr-tabs">
            <button class="descr-tabs__btn descr-tabs__btn--active">
              Описание и характеристики</button
            ><button class="descr-tabs__btn">Отзывы</button
            ><button class="descr-tabs__btn">Документы</button
            ><button class="descr-tabs__btn">Оплата и доставка</button
            ><button class="descr-tabs__btn">Сопутствующие товары</button>
          </div>

          <div class="descr-info__inner">
            <ul class="descr-info__list">
              <li class="descr-info__item">
                <h4 class="descr-info__key">Бренд</h4>
                <span class="descr-info__value">ЭСАБ (ESAB)</span>
              </li>
              <li class="descr-info__item">
                <h4 class="descr-info__key">Вид проволоки</h4>
                <span class="descr-info__value">омедненная</span>
              </li>
              <li class="descr-info__item">
                <h4 class="descr-info__key">Назначение</h4>
                <span class="descr-info__value">углеродистая сталь</span>
              </li>
              <li class="descr-info__item">
                <h4 class="descr-info__key">Диаметр, мм</h4>
                <span class="descr-info__value">1.2</span>
              </li>
              <li class="descr-info__item">
                <h4 class="descr-info__key">Маркировка</h4>
                <span class="descr-info__value">ОК ПРО 51С</span>
              </li>
              <li class="descr-info__item">
                <h4 class="descr-info__key">Тип сварки</h4>
                <span class="descr-info__value">MIG-MAG</span>
              </li>
              <li class="descr-info__item">
                <h4 class="descr-info__key">Вес, кг</h4>
                <span class="descr-info__value">18</span>
              </li>
              <li class="descr-info__item">
                <h4 class="descr-info__key">Еврокатушка</h4>
                <span class="descr-info__value">К-300</span>
              </li>
              <li class="descr-info__item">
                <h4 class="descr-info__key">Исполнение</h4>
                <span class="descr-info__value">каркасная кассета</span>
              </li>
              <li class="descr-info__item">
                <h4 class="descr-info__key">Установка кассеты</h4>
                <span class="descr-info__value">без адаптера</span>
              </li>
            </ul>

            <div class="descr-info__text">
              <p>
                <strong>Проволока сварочная ОК ПРО 51С Esab</strong> применяется для
                сварки низкоуглеродистых и низколегированных сталей с пределом текучести
                свыше 420 МПа в углекислом газе и газовой смеси (CO2, Ar/C02).
                Высококачественное омеднение, рядная намотка на катушки, стабильный
                диаметр по всей длине обеспечивают стабильное горение проволоки с
                минимальным разбрызгиванием и высокое качество наплавленного металла.
                Проволока европейского качества, производимая в России. Широкий спектр
                применения. Отличные механические свойства наплавленного металла.
              </p>
              <p>
                <strong>Механические свойства металла шва:</strong>
              </p>
              <p class="descr-info__text--3">
                <span>Предел прочности при растяжении: 560 МПа </span>
                <span>Предел текучести: 450 МПа</span>
                <span>Удлинение: 30 %</span>
                <span
                  ><strong
                    >Химический состав наплавленного металла шва, % :</strong
                  ></span
                >
              </p>
              <p>C - 0,078 / Mn - 1,46 / Si - 0,85</p>
            </div>

            <p class="descr-info__disclaimer">
              *Производитель оставляет за собой право без уведомления дилера менять
              характеристики, внешний вид, комплектацию товара и место его производства.
              Указанная информация не является публичной офертой
            </p>
          </div>
        </div>

</div>

  </div>

  <div class="descr__swiper-box">
    <div class="outer-box">
      <div class="container">
        <h2 class="subtitle">Смотрите также <span></span></h2>
        <div class="descr__swiper swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div id="descr-product-1" class="product-card card-compare">
                <div class="card-compare__head">
                  <p class="product-card__code">Код: <span>0021571</span></p>
                  <button class="card-compare__btn">
                    <img
                      src="{% static '/img/icons/compare.svg' %}"
                      alt="compare icon"
                    />
                  </button>
                </div>
                <img
                  src="{% static '/img/descr-products/descr-product-2.jpg' %}"
                  alt="product"
                  class="product-card__img card-compare__img"
                />
                <h3 class="product-card__title">Пример продукта</h3>

                <div class="product-card__bottom">
                  <div class="product-card__descr">
                    Вес, кг: 30 <br />
                    Вид проволоки: омедненная <br />
                    Диаметр, мм: 3.0
                  </div>
                  <div class="product-card__status">В наличии</div>
                  <div class="product-card__buy">
                    <span class="product-card__current-price">3190тг.</span>
                    <button class="product-card__cart-btn">
                      <img src="{% static '/img/icons/add-to-cart.svg' %}" alt="cart button" />
                    </button>
                  </div>
                </div>
              </div>

            </div>
            <div class="swiper-slide">
              <div id="descr-product-1" class="product-card card-compare">
                <div class="card-compare__head">
                  <p class="product-card__code">Код: <span>0021571</span></p>
                  <button class="card-compare__btn">
                    <img
                      src="{% static '/img/icons/compare.svg' %}"
                      alt="compare icon"
                    />
                  </button>
                </div>
                <img
                  src="{% static '/img/descr-products/descr-product-2.jpg' %}"
                  alt="product"
                  class="product-card__img card-compare__img"
                />
                <h3 class="product-card__title">Пример продукта</h3>

                <div class="product-card__bottom">
                  <div class="product-card__descr">
                    Вес, кг: 30 <br />
                    Вид проволоки: омедненная <br />
                    Диаметр, мм: 3.0
                  </div>
                  <div class="product-card__status">В наличии</div>
                  <div class="product-card__buy">
                    <span class="product-card__current-price">3190тг.</span>
                    <button class="product-card__cart-btn">
                      <img src="{% static '/img/icons/add-to-cart.svg' %}" alt="cart button" />
                    </button>
                  </div>
                </div>
              </div>

            </div>
            <div class="swiper-slide">
              <div id="descr-product-1" class="product-card card-compare">
                <div class="card-compare__head">
                  <p class="product-card__code">Код: <span>0021571</span></p>
                  <button class="card-compare__btn">
                    <img
                      src="{% static '/img/icons/compare.svg' %}"
                      alt="compare icon"
                    />
                  </button>
                </div>
                <img
                  src="{% static '/img/descr-products/descr-product-2.jpg' %}"
                  alt="product"
                  class="product-card__img card-compare__img"
                />
                <h3 class="product-card__title">Пример продукта</h3>

                <div class="product-card__bottom">
                  <div class="product-card__descr">
                    Вес, кг: 30 <br />
                    Вид проволоки: омедненная <br />
                    Диаметр, мм: 3.0
                  </div>
                  <div class="product-card__status">В наличии</div>
                  <div class="product-card__buy">
                    <span class="product-card__current-price">3190тг.</span>
                    <button class="product-card__cart-btn">
                      <img src="{% static '/img/icons/add-to-cart.svg' %}" alt="cart button" />
                    </button>
                  </div>
                </div>
              </div>

            </div>
            <div class="swiper-slide">
              <div id="descr-product-1" class="product-card card-compare">
                <div class="card-compare__head">
                  <p class="product-card__code">Код: <span>0021571</span></p>
                  <button class="card-compare__btn">
                    <img
                      src="
                    {% static '/img/icons/compare.svg' %}"
                      alt="compare icon"
                    />
                  </button>
                </div>
                <img
                  src="{% static '/img/descr-products/descr-product-2.jpg' %}"
                  alt="product"
                  class="product-card__img card-compare__img"
                />
                <h3 class="product-card__title">Пример продукта</h3>

                <div class="product-card__bottom">
                  <div class="product-card__descr">
                    Вес, кг: 30 <br />
                    Вид проволоки: омедненная <br />
                    Диаметр, мм: 3.0
                  </div>
                  <div class="product-card__status">В наличии</div>
                  <div class="product-card__buy">
                    <span class="product-card__current-price">3190тг.</span>
                    <button class="product-card__cart-btn">
                      <img src="{% static '/img/icons/add-to-cart.svg' %}" alt="cart button" />
                    </button>
                  </div>
                </div>
              </div>

            </div>
            <div class="swiper-slide">
              <div id="descr-product-1" class="product-card card-compare">
                <div class="card-compare__head">
                  <p class="product-card__code">Код: <span>0021571</span></p>
                  <button class="card-compare__btn">
                    <img
                      src="
                    {% static '/img/icons/compare.svg' %}"
                      alt="compare icon"
                    />
                  </button>
                </div>
                <img
                  src="{% static '/img/descr-products/descr-product-2.jpg' %}"
                  alt="product"
                  class="product-card__img card-compare__img"
                />
                <h3 class="product-card__title">Пример продукта</h3>

                <div class="product-card__bottom">
                  <div class="product-card__descr">
                    Вес, кг: 30 <br />
                    Вид проволоки: омедненная <br />
                    Диаметр, мм: 3.0
                  </div>
                  <div class="product-card__status">В наличии</div>
                  <div class="product-card__buy">
                    <span class="product-card__current-price">3190тг.</span>
                    <button class="product-card__cart-btn">
                      <img src="{% static '/img/icons/add-to-cart.svg' %}" alt="cart button" />
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="descr__pagination swiper-pagination"></div>
        </div>
      </div>

      <button class="swiper-prev-btn descr__swiper-prev-btn">
        <img src="{% static '/img/icons/arrow-left.svg' %}" alt="arrow left" />
      </button>
      <button class="swiper-next-btn descr__swiper-next-btn">
        <img src="{% static '/img/icons/arrow-right.svg' %}" alt="arrow right" />
      </button>
    </div>
  </div>

  <div class="last-viewed">
    <div class="container">
      <h2 class="subtitle">Вы смотрели<span></span></h2>
      <div class="last-viewed__swiper swiper">
        <div class="swiper-wrapper last-viewed__swiper-wrapper">
          <div class="swiper-slide last-viewed__slide">
            <div id="product-1" class="product-card">
  <div class="product-card__top">
    <p class="product-card__code">Код: <span>0022167</span></p>
    <img
      src="{% static '/img/products/product-2.jpg' %}"
      alt="product"
      class="product-card__img"
    />
    <h3 class="product-card__title">Проволока сварочная ОК</h3>
  </div>
  <div class="product-card__bottom">
    <div class="product-card__descr">
      Вес, кг: 18 <br />
      Вид проволоки: омедненная <br />
      Диаметр, мм: 1.2
    </div>
    <div class="product-card__status">В наличии</div>
    <div class="product-card__buy">
      <span class="product-card__current-price">2190тг.</span>
      <button class="product-card__cart-btn">
        <img src="{% static '/img/icons/add-to-cart.svg' %}" alt="cart button" />
      </button>
    </div>
  </div>
</div>

          </div>
          <div class="swiper-slide last-viewed__slide">
            <div id="product-1" class="product-card">
  <div class="product-card__top">
    <p class="product-card__code">Код: <span>0022167</span></p>
    <img
      src="{% static '/img/products/product-2.jpg' %}"
      alt="product"
      class="product-card__img"
    />
    <h3 class="product-card__title">Проволока сварочная ОК</h3>
  </div>
  <div class="product-card__bottom">
    <div class="product-card__descr">
      Вес, кг: 18 <br />
      Вид проволоки: омедненная <br />
      Диаметр, мм: 1.2
    </div>
    <div class="product-card__status">В наличии</div>
    <div class="product-card__buy">
      <span class="product-card__current-price">2190тг.</span>
      <button class="product-card__cart-btn">
        <img src="{% static '/img/icons/add-to-cart.svg' %}" alt="cart button" />
      </button>
    </div>
  </div>
</div>

          </div>
        </div>

        <div class="last-viewed__pagination swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
 <section class="filter none">
  <div class="container">
    <div class="filter__inner">
      <form class="filter__form">
        <div class="filter__form-price">
          <h2 class="mini-subtitle">Цена, тг.</h2>
          <div class="filter__range-box">
            <div class="filter__double-range">
              <div class="filter__slider-track"></div>
              <input
                type="range"
                min="21000"
                max="286790"
                value="1"
                class="filter__range-input"
                id="price-slider-1"
              />
              <input
                type="range"
                min="21000"
                max="286790"
                value="286790"
                class="filter__range-input"
                id="price-slider-2"
              />
            </div>

            <div class="filter__range-values">
              <div class="filter__range-value">
                <span>от</span>
                <span class="filter__range-number" id="price-value-from"
                  >21000</span
                >
              </div>
              <div class="filter__range-value">
                <span>до</span>
                <span class="filter__range-number" id="price-value-to"
                  >286790</span
                >
              </div>
            </div>
          </div>
        </div>

        <div class="filter__form-brand">
          <h2 class="mini-subtitle">Бренд</h2>
          <ul class="filter__form-list">
            <li class="filter__form-item">
              <input
                id="svarok"
                type="checkbox"
                class="filter-checkbox"
              /><label for="svarok" class="filter-label">Сварог</label>
            </li>
            <li class="filter__form-item">
              <input
                id="aurora"
                type="checkbox"
                class="filter-checkbox"
              /><label for="aurora" class="filter-label">Aurora</label>
            </li>
            <li class="filter__form-item">
              <input
                id="grovers"
                type="checkbox"
                class="filter-checkbox"
              /><label for="grovers" class="filter-label">GROVERS</label>
            </li>
            <li class="filter__form-item">
              <input
                id="hugong"
                type="checkbox"
                class="filter-checkbox"
              /><label for="hugong" class="filter-label">HUGONG</label>
            </li>
            <li class="filter__form-item">
              <input id="tcc" type="checkbox" class="filter-checkbox" /><label
                for="tcc"
                class="filter-label"
                >ТСС</label
              >
            </li>
          </ul>
          <button class="filter__show-more">Показать еще</button>
        </div>

        <div class="filter__form-amperage">
          <h2 class="mini-subtitle">Max ток, А</h2>
          <div class="filter__range-box">
            <div class="filter__double-range">
              <div class="filter__slider-track"></div>
              <input
                type="range"
                min="40"
                max="160"
                value="1"
                class="filter__range-input"
                id="amperage-slider-1"
              />
              <input
                type="range"
                min="40"
                max="160"
                value="160"
                class="filter__range-input"
                id="amperage-slider-2"
              />
            </div>

            <div class="filter__range-values">
              <div class="filter__range-value">
                <span>от</span>
                <span class="filter__range-number" id="amperage-value-from"
                  >40</span
                >
              </div>
              <div class="filter__range-value">
                <span>до</span>
                <span class="filter__range-number" id="amperage-value-to"
                  >160</span
                >
              </div>
            </div>
          </div>
        </div>

        <div class="filter__form-thickness">
          <h2 class="mini-subtitle">Max толщина реза, мм</h2>
          <ul class="filter__form-list">
            <li class="filter__form-item">
              <input
                id="thickness-12"
                type="checkbox"
                class="filter-checkbox"
              /><label for="thickness-12" class="filter-label">12</label>
            </li>
            <li class="filter__form-item">
              <input
                id="thickness-15"
                type="checkbox"
                class="filter-checkbox"
              /><label for="thickness-15" class="filter-label">15</label>
            </li>
            <li class="filter__form-item">
              <input
                id="thickness-20"
                type="checkbox"
                class="filter-checkbox"
              /><label for="thickness-20" class="filter-label">20</label>
            </li>
            <li class="filter__form-item">
              <input
                id="thickness-22"
                type="checkbox"
                class="filter-checkbox"
              /><label for="thickness-22" class="filter-label">22</label>
            </li>
            <li class="filter__form-item">
              <input
                id="thickness-25"
                type="checkbox"
                class="filter-checkbox"
              /><label for="thickness-25" class="filter-label">25</label>
            </li>
          </ul>
          <button class="filter__show-more">Показать еще</button>
        </div>

        <div class="filter__form-ignition">
          <h2 class="mini-subtitle">Зажигание дуги</h2>
          <ul class="filter__form-list">
            <li class="filter__form-item">
              <input
                id="ignition-contactless"
                type="checkbox"
                class="filter-checkbox"
              /><label for="ignition-contactless" class="filter-label"
                >HF (бесконтактный)</label
              >
            </li>
            <li class="filter__form-item">
              <input
                id="ignition-high-frequency"
                type="checkbox"
                class="filter-checkbox"
              /><label for="ignition-high-frequency" class="filter-label"
                >Высокочастотное (HF)</label
              >
            </li>
            <li class="filter__form-item">
              <input
                id="ignition-lift"
                type="checkbox"
                class="filter-checkbox"
              /><label for="ignition-lift" class="filter-label"
                >Lift (контактный)</label
              >
            </li>
            <li class="filter__form-item">
              <input
                id="ignition-self-start"
                type="checkbox"
                class="filter-checkbox"
              /><label for="ignition-self-start" class="filter-label"
                >Бесконтактное (self start)</label
              >
            </li>
            <li class="filter__form-item">
              <input
                id="ignition-hf-all"
                type="checkbox"
                class="filter-checkbox"
              /><label for="ignition-hf-all" class="filter-label"
                >HF (бесконтактный) и контактный</label
              >
            </li>
          </ul>
          <button class="filter__show-more">Показать еще</button>
        </div>

        <div class="filter__form-use">
          <h2 class="mini-subtitle">Область применения</h2>
          <ul class="filter__form-list">
            <li class="filter__form-item">
              <input
                id="semiprofessional"
                type="checkbox"
                class="filter-checkbox"
              /><label for="semiprofessional" class="filter-label"
                >Полупрофессиональный</label
              >
            </li>
            <li class="filter__form-item">
              <input
                id="professional"
                type="checkbox"
                class="filter-checkbox"
              /><label for="professional" class="filter-label"
                >Профессиональный</label
              >
            </li>
          </ul>
        </div>

        <div class="filter__form-btns">
          <button class="main-btn filter__show-btn">Показать</button
          ><button type="reset" class="main-btn filter__reset-btn">
            Сбросить
          </button>
        </div>
      </form>

      <div class="filter__result-box">
        <div class="filter__sorting">
          <p class="filter__sorting-text">Сортировать по:</p>
          <button
            id="sort-price"
            class="filter__sorting-btn filter__sorting-btn--active"
          >
            Цена
            <svg
              width="7"
              height="4"
              viewBox="0 0 7 4"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0.395117 2.4762L2.43131 0.440013C2.61134 0.260041 2.85544 0.158939 3.11 0.158939C3.36456 0.158939 3.60866 0.260041 3.78869 0.440013L5.82488 2.4762C6.00486 2.65623 6.10596 2.90034 6.10596 3.1549C6.10596 3.40945 6.00486 3.65356 5.82488 3.83359H0.395117C0.215145 3.65356 0.114043 3.40945 0.114043 3.1549C0.114043 2.90034 0.215145 2.65623 0.395117 2.4762Z"
                fill="#17141E"
              />
            </svg></button
          ><button id="sort-name" class="filter__sorting-btn">Название</button>
        </div>
        <div class="filter__result-render">
          <div id="product-1" class="product-card">
  <div class="product-card__top">
    <p class="product-card__code">Код: <span>0022167</span></p>
    <img
      src="{% static '/img/products/product-2.jpg' %}"
      alt="product"
      class="product-card__img"
    />
    <h3 class="product-card__title">Проволока сварочная ОК</h3>
  </div>
  <div class="product-card__bottom">
    <div class="product-card__descr">
      Вес, кг: 18 <br />
      Вид проволоки: омедненная <br />
      Диаметр, мм: 1.2
    </div>
    <div class="product-card__status">В наличии</div>
    <div class="product-card__buy">
      <span class="product-card__current-price">2190тг.</span>
      <button class="product-card__cart-btn">
        <img src="{% static '/img/icons/add-to-cart.svg' %}" alt="cart button" />
      </button>
    </div>
  </div>
</div>

          <div id="product-1" class="product-card">
  <div class="product-card__top">
    <p class="product-card__code">Код: <span>0022167</span></p>
    <img
      src="{% static '/img/products/product-2.jpg' %}"
      alt="product"
      class="product-card__img"
    />
    <h3 class="product-card__title">Проволока сварочная ОК</h3>
  </div>
  <div class="product-card__bottom">
    <div class="product-card__descr">
      Вес, кг: 18 <br />
      Вид проволоки: омедненная <br />
      Диаметр, мм: 1.2
    </div>
    <div class="product-card__status">В наличии</div>
    <div class="product-card__buy">
      <span class="product-card__current-price">2190тг.</span>
      <button class="product-card__cart-btn">
        <img src="{% static '/img/icons/add-to-cart.svg' %}" alt="cart button" />
      </button>
    </div>
  </div>
</div>

          <div id="product-1" class="product-card">
  <div class="product-card__top">
    <p class="product-card__code">Код: <span>0022167</span></p>
    <img
      src="{% static '/img/products/product-2.jpg' %}"
      alt="product"
      class="product-card__img"
    />
    <h3 class="product-card__title">Проволока сварочная ОК</h3>
  </div>
  <div class="product-card__bottom">
    <div class="product-card__descr">
      Вес, кг: 18 <br />
      Вид проволоки: омедненная <br />
      Диаметр, мм: 1.2
    </div>
    <div class="product-card__status">В наличии</div>
    <div class="product-card__buy">
      <span class="product-card__current-price">2190тг.</span>
      <button class="product-card__cart-btn">
        <img src="{% static '/img/icons/add-to-cart.svg' %}" alt="cart button" />
      </button>
    </div>
  </div>
</div>

          <div id="product-1" class="product-card">
  <div class="product-card__top">
    <p class="product-card__code">Код: <span>0022167</span></p>
    <img
      src="{% static '/img/products/product-2.jpg' %}"
      alt="product"
      class="product-card__img"
    />
    <h3 class="product-card__title">Проволока сварочная ОК</h3>
  </div>
  <div class="product-card__bottom">
    <div class="product-card__descr">
      Вес, кг: 18 <br />
      Вид проволоки: омедненная <br />
      Диаметр, мм: 1.2
    </div>
    <div class="product-card__status">В наличии</div>
    <div class="product-card__buy">
      <span class="product-card__current-price">2190тг.</span>
      <button class="product-card__cart-btn">
        <img src="{% static '/img/icons/add-to-cart.svg' %}" alt="cart button" />
      </button>
    </div>
  </div>
</div>

          <div id="product-1" class="product-card">
            <div class="product-card__top">
              <p class="product-card__code">Код: <span>0022167</span></p>
              <img
                src="{% static '/img/products/product-2.jpg' %}"
                alt="product"
                class="product-card__img"
              />
              <h3 class="product-card__title">Проволока сварочная ОК</h3>
            </div>
            <div class="product-card__bottom">
              <div class="product-card__descr">
                Вес, кг: 18 <br />
                Вид проволоки: омедненная <br />
                Диаметр, мм: 1.2
              </div>
              <div class="product-card__status">В наличии</div>
              <div class="product-card__buy">
                <span class="product-card__current-price">2190тг.</span>
                <button class="product-card__cart-btn">
                  <img src="{% static '/img/icons/add-to-cart.svg' %}" alt="cart button" />
                </button>
              </div>
            </div>
          </div>

          <div id="product-1" class="product-card">
  <div class="product-card__top">
    <p class="product-card__code">Код: <span>0022167</span></p>
    <img
      src="{% static '/img/products/product-2.jpg' %}"
      alt="product"
      class="product-card__img"
    />
    <h3 class="product-card__title">Проволока сварочная ОК</h3>
  </div>
  <div class="product-card__bottom">
    <div class="product-card__descr">
      Вес, кг: 18 <br />
      Вид проволоки: омедненная <br />
      Диаметр, мм: 1.2
    </div>
    <div class="product-card__status">В наличии</div>
    <div class="product-card__buy">
      <span class="product-card__current-price">2190тг.</span>
      <button class="product-card__cart-btn">
        <img src="{% static '/img/icons/add-to-cart.svg' %}" alt="cart button" />
      </button>
    </div>
  </div>
</div>

        </div>
      </div>
    </div>
  </div>
</section>

    <footer class="footer">
      <div class="container">
        <div class="footer__inner">

        <div class="footer__box">
          <button class="footer__acc-btn">
            Оборудование
            <img class="footer__acc-icon" src="{% static '/img/icons/accordeon-arrow.svg' %}" />
          </button>
          <ul class="footer__list">
            {% for category in categories %}
              <li><a href="{% url 'category_view' category.slug %}" class="footer__link">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </div>


        <div class="footer__box">
          <p class="footer__acc-btn">
            Контакты
            <img class="footer__acc-icon" src="{% static '/img/icons/accordeon-arrow.svg' %}" />
          </p>
          <ul class="footer__list">
            <li>
              <a href="{% url 'about_us' %}" class="footer__link footer__link--normal">О компании</a>
            </li>
            <li>
              <p class="footer__link footer__link--normal"
                >г. Караганда, ул. Васильченко, д. 1, зд. 777</p>
            </li>
            <li>
              <p class="footer__link"
                >+7 (800) 000-00-00</p>
            </li>
            <li>
              <p
                class="footer__link footer__link--normal"
                >online@example.ru</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

<!--    <script src="https://cdn.jsdelivr.net/npm/swiper@11.1.3/swiper-bundle.min.js"></script>-->
<!--    <script src="{% static '/img/package/swiper-bundle.min.js' %}"></script>-->
    <script src="{% static '/js/app.js' %}"></script>
    <script src="{% static '/js/plus_minus.js' %}"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  </body>

</html>
